@import url("https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--red: rgb(232, 16, 16);
	--orange: #ff7033;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Noto Sans", sans-serif;
	color: white;
}

html {
	width: 100%;
}

.App {
	background-color: var(--red);
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	background-color: #171616;
}

button,
li,
a,
.bars {
	cursor: pointer;
	color: white;
}

header,
nav,
ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a {
	color: white;
	text-decoration: none;
}

/* Header & Nav */
header {
	background-color: var(--orange);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	min-width: 16rem;
	height: 5rem;
	padding: 1rem 2rem;
}

.logo {
	font-size: 1.3rem;
	font-weight: 700;
	line-height: 1.5rem;
}

.logo span {
	font-family: "Ingrid Darling", cursive;
	font-weight: 500;
	display: block;
	font-size: 1.5rem;
}

nav {
	display: flex;
}

ul {
	list-style: none;
	width: 100%;
}

.nav-links {
	background-color: white;
	position: absolute;
	top: 5rem;
	right: 2rem;
	display: flex;
	width: 10rem;
	height: 10rem;
	padding: 1rem;
	flex-direction: column;
}

.nav-links a {
	padding: 0.5rem;
	font-weight: 500;
	font-size: 1.2rem;
	color: black;
}

.nav-links::after {
	content: "";
	display: block;
	background-color: white;
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	transform: rotate(45deg);
	top: -0.6rem;
	right: 0.5rem;
}

/* Bars */
.bars {
	display: block;
}
.bars span {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3px;
	width: 1.8rem;
	margin-bottom: 0.5rem;
	transition: 1s ease;
	background-color: white;
}

.bars .disappear {
	transition: all 2s ease-in-out 2s;
}

.bars .rotate45deg {
	transform: rotate(45deg) translateY(0.5rem) translateX(8px);
}

.bars .rotate-45deg {
	transform: rotate(-45deg) translateX(-0.1rem);
}

.bars .disappear {
	display: none;
}

/* Body */
main {
	min-width: 16rem;
}
.hero-bg {
	position: relative;
}
.hero-bg span {
	content: "";
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 2rem;
	color: white;
	opacity: 100%;
	text-align: center;
	font-size: 1.5rem;
	top: 0;
}
.hero {
	width: 100%;
	opacity: 39%;
}

.section-container {
	padding: 2rem;
}

/* Sections */
.section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 3rem;
	width: 100%;
}
.section:first-child {
	margin-top: 0;
}

.section h1 {
	font-size: 1.7rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
}
.section .label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 2rem;
}

.section .line-under {
	background-color: white;
	height: 0.15rem;
	margin-top: 0.5rem;
	width: 50px;
}

/* Services Section */
.services-section ul {
	display: flex;
	flex-direction: column;
}
.services-section ul li {
	display: flex;
	margin-bottom: 2rem;
}
.services-section ul li .number {
	margin-right: 1rem;
	background-color: var(--orange);
	vertical-align: top;
	min-width: 2.5rem;
	height: 2.5rem;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Inter", sans-serif;
}
.services-section ul li .name {
	font-size: 1.2rem;
}
.services-section ul li span {
	max-width: 15rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
}
.view-more {
	color: var(--orange);
	background: transparent;
	border: none;
	font-size: 1.25rem;
}

/* Menus Section */
.menus-section {
	margin-top: 3rem;
}
.menus-section p {
	font-size: 1.25rem;
	text-align: center;
}
.carousel {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.carousel img {
	max-width: 8rem;
	height: 13rem;
	margin-top: 3rem;
	border-radius: 1rem;
}
.carousel img:first-child {
	transform: rotate(-25deg);
}
.carousel img:last-child {
	transform: rotate(25deg);
}
.carousel img:nth-child(2) {
	position: absolute;
	z-index: 10;
}
.menus-section .view-more {
	margin-top: 2rem;
}

/* Social Media */
.social-media {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}
.social-media span {
	margin-left: 1rem;
	font-size: 1.125rem;
}
.social-media-icons {
	max-height: 2rem;
}

/* Footer */
footer {
	background-color: var(--orange);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 5rem;
}
footer p {
	font-size: 1.25rem;
}
footer span {
	font-size: 0.9375rem;
}
